* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  word-break: keep-all;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 768px) {
}
@media (min-width: 768px) and (max-width: 1100px) {
}
@media (min-width: 1000px) {
  /* in,you */

  .in-you .in {
    top: 120px;
    right: 70px;
    z-index: 40;
    position: fixed;
    display: block;
    width: 38px;
  }

  .in-you .you {
    top: 162px;
    right: 70px;
    z-index: 40;
    position: fixed;
    display: block;
    width: 38px;
  }

  .in-you img {
    display: block;
    width: 100%;
  }

  /* header */

  header {
    z-index: 30;
    background-color: #fff;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 42px;
  }

  header img {
    display: block;
    width: 160px;
  }

  header .ham {
    display: none;
    font-size: 35px;
  }

  header ul {
    display: flex;
    align-items: center;
    gap: 60px;
  }

  /* visual */

  #visual {
    position: relative;
    width: 100%;
    height: 100vh;
    padding-top: 180px;
    background-image: url(../img/main_visual_bg.jpg);
    background-size: 50px 50px;
    background-repeat: repeat;
  }

  #visual .bg {
    width: 970px;
    margin: 0px auto;
  }

  #visual img {
    display: block;
    width: 100%;
  }

  #visual p {
    position: absolute;
    left: 50%;
    top: 810px;
    transform: translateX(-50%);
    font-weight: lighter;
    font-size: 12px;
  }

  #visual i {
    color: white;
    border: 2px solid #000;
    width: 28px;
    height: 36px;
    border-radius: 35%;
    display: block;
    text-align: center;
    line-height: 32px;
    font-size: 25px;
    position: absolute;
    left: calc(50% - 14px);
    top: 760px;
  }
  #visual .fa-computer-mouse {
    animation: mouseMove 2s infinite;
  }

  #con01 {
    text-align: center;
    width: 100%;
    margin: 0px auto;
  }

  #con01 h2 {
    margin-top: 60px;
    font-size: 45px;
    font-weight: normal;
    letter-spacing: 2px;
  }
  #con01 .more {
    display: block;
    margin: 30px auto;
    border: 1px solid;
    width: 220px;
    height: 50px;
    border-radius: 200px;
    line-height: 50px;
  }
  .more:hover {
    background-color: black;
    color: #fff;
  }

  #con01 ul {
    max-width: 1000px;
    margin: 0px auto;
    /* width: 100%; */
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  #con01 ul li {
    width: calc((100% - 30px) / 4);
    border: 1px solid #ddd;
    border-radius: 20px;
    overflow: hidden;
  }
  #con01 ul li a {
    display: block;
  }
  #con01 .pic {
    position: relative;
  }
  #con01 .pic img {
    display: block;
    width: 100%;
  }
  #con01 .pic .hover {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
  }
  #con01 .text {
    padding: 10px 0px;
  }
  #con01 .text p:first-child {
    font-size: 20px;
  }
  #con01 .text p:last-child {
    color: #ccc;
    font-size: 13px;
    margin-top: 5px;
  }
  #con01 ul li:hover .pic .hover {
    display: block;
  }

  /* con02 */

  #con02 {
    width: 100%;
    padding: 85px 0px 70px;
    background-color: #f8f8f8;
    text-align: center;
  }

  #con02 h2 {
    font-size: 45px;
    font-weight: normal;
    margin-bottom: 40px;
  }

  #con02 ul {
    display: flex;
    width: 80%;
    margin: 0px auto;
  }

  #con02 ul li {
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 40px;
    border-left: 1px solid #e5e5e5;
  }

  #con02 ul li:first-child {
    border-left: none;
  }

  #con02 ul li img {
    width: 100%;
    height: 70px;
    object-fit: contain;
  }

  #con02 h3 {
    margin: 25px 0px 20px;
    font-size: 24px;
    font-weight: normal;
  }

  #con02 ul li p {
    width: 220px;
    line-height: 27px;
    font-size: 16px;
  }

  #con02 ul li a {
    display: block;
    width: 110px;
    height: 42px;
    margin: 25px auto 0px;
    border: 1px solid #555;
    border-radius: 200px;
    line-height: 40px;
    font-size: 12px;
  }

  #con02 ul li a:hover {
    background-color: #000;
    color: #fff;
  }
}
