* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  word-break: keep-all;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

i {
  display: block;
}

ul {
  list-style: none;
}

img {
  display: block;
}

header {
  width: 100%;
  background-color: #000;
  color: #fff;
}

header > div {
  width: 80%;
  margin: 0px auto;
  padding: 30px 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 26px;
}

header ul {
  display: flex;
  gap: 20px;
}

header li a {
  padding: 5px 0px;
}

header li:hover {
  color: #ff0;
}

header .mo_menu {
  display: none;
}

#visual {
  width: 100%;
  height: 400px;

  position: relative;

  background-image: url(../img/bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#visual p {
  position: absolute;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);

  color: #fff;

  font-size: 50px;
}

#container {
  width: 100%;
}

#container #con01 {
  width: 70%;
  margin: 50px auto 0px;

  display: flex;
  gap: 40px;
}

#container #con01 .left {
  width: calc(65% - 20px);
}

#container #con01 h2 {
  font-size: 28px;
}

#container #con01 h3 {
  margin: 15px 0px;

  font-size: 16px;
  line-height: 25px;
}

#container #con01 p {
  margin-bottom: 15px;

  font-size: 13px;
  line-height: 22px;
}

#container #con01 ul {
  width: calc(35% - 20px);

  display: flex;
  flex-direction: column;

  gap: 20px;
}

#container #con01 ul li {
  width: 100%;
}

#container #con01 ul img {
  width: 100%;
}

footer {
  margin-top: 50px;
  padding: 30px;

  background-color: #000;
  color: #fff;

  text-align: center;

  line-height: 30px;
  font-size: 15px;
}

.back-works {
  position: fixed;
  right: 25px;
  bottom: 25px;

  padding: 12px 18px;

  background-color: #000;
  color: #fff;

  border: 1px solid #fff;

  font-size: 11px;

  z-index: 2000;
}

.back-works:hover {
  background-color: #fff;
  color: #000;
}

@media (min-width: 768px) and (max-width: 1199px) {
  header > div {
    width: 90%;
  }

  #container #con01 {
    width: 80%;
  }

  #container #con01 .left {
    width: calc(60% - 20px);
  }

  #container #con01 ul {
    width: calc(40% - 20px);
  }
}

@media (max-width: 767px) {
  header > div {
    width: 100%;
    padding: 20px;
  }

  header h1 {
    font-size: 22px;
  }

  header .pc_menu {
    display: none;
  }

  header .mo_menu {
    display: block;
  }

  header .mo_menu i {
    font-size: 22px;
  }

  #visual {
    height: 400px;
  }

  #visual p {
    font-size: 50px;
  }

  #container #con01 {
    width: 90%;
    margin-top: 50px;

    flex-direction: column;

    gap: 25px;
  }

  #container #con01 .left {
    width: 100%;
  }

  #container #con01 h2 {
    font-size: 25px;
  }

  #container #con01 h3 {
    font-size: 15px;
  }

  #container #con01 p {
    font-size: 13px;
  }

  #container #con01 ul {
    width: 100%;

    flex-direction: row;

    gap: 10px;
  }

  #container #con01 ul li {
    width: calc((100% - 20px) / 3);
  }

  #container #con01 ul img {
    width: 100%;
    height: 100%;

    object-fit: cover;
  }

  footer {
    margin-top: 30px;
    padding: 30px 20px;

    font-size: 13px;
  }

  .back-works {
    right: 15px;
    bottom: 15px;
  }
}

@media (min-width: 1200px) {
  header > div {
    width: 80%;
  }

  #container #con01 {
    width: 70%;
  }
}
